extends layout

block content

  h1.white-text.center List of Node.js and Express Tutorials

  br
  br

  nav.transparent
    .nav-wrapper
      form.green.lighten-3(method= 'post', action= '/tutorials', onsubmit= 'getSearch()')
        .input-field
          input#search(type= 'search', placeholder= 'Search Tutorial')
          label.label-icon(for= 'search')
            i.fa.fa-search.small
  
  br

  h4#banner-description.center.white-text

  table.striped.bordered.responsive-table#result
    thead
      tr
        th(style= 'width: auto') Uploaded by
        th(style= 'width: auto') Title
        th(style= 'width: auto') Description
        th(style= 'width: auto') Date Created
        th(style= 'width: auto') Date Updated
    tbody#data
      //each tutorial, i in tutorials
          //tr
            //td= tutorial.uploadersName
            //td
              //a.red-text(href= "/tutorials/" + tutorial._id)= tutorial.title
            //td= tutorial.description
            //td= tutorial.created
            //td= tutorial.updated