extends layout

block content

  h1.white-text.center List of Node.js and Express Tutorials

  br
  br

 

  .search
      h1#totalCount.white-text Total Number of tutorials
      form.green.lighten-3(style= 'width: 35% ; margin-left: 62%')
        .input-field
          input#search(type='search', placeholder="search tutorial")
          label(for='search'): i.fa.fa-search.left.small.white-text |Search Tutorial
          i.mdi-navigation-close.close

  table.striped.bordered.responsive-table
    thead
      tr
        th(style= 'width: auto') Uploaded by
        th(style= 'width: auto') Title
        th(style= 'width: auto') Description
        th(style= 'width: auto') Date Created
        th(style= 'width: auto') Date Updated
    tbody#data
      //each tutorial, i in tutorials
          //tr
            //td= tutorial.uploadersName
            //td
              //a.red-text(href= "/tutorials/" + tutorial._id)= tutorial.title
            //td= tutorial.description
            //td= tutorial.created
            //td= tutorial.updated