doctype html
html
  head
    title= title

    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    
    //Import Google Font - Ubuntu
    link(href='https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono' rel='stylesheet')
    
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    // Import Font Awesome Icons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    
    // Stylesheets.css
    link(rel= 'stylesheet', type= 'text/css', href= '../../stylesheets/style.css')

  body

    nav.blue
      .nav-wrapper
        a.brand-logo.left.hide-on-small-only(href='/')
          img(src= '../../images/logo-large.png')
        a.brand-logo.center.hide-on-med-and-up(href='/')
          img(src= '../../images/logo.png')

        a.button-collapse(href='#', data-activates='mobile-demo')
          i.fa.fa-bars.small
        ul#nav-mobile.left.hide-on-med-and-down.right
          li
            a(href='/')
              i.fa.fa-home.left.small
              | Home
          li
            a(href='/tutorials') All List
          li
            a(href='/tutorials/new') Add New Entry
          li
            a(href='/sign_up') Sign-up  
        ul#mobile-demo.side-nav.blue
          li
            a.white-text.waves-effect.waves-white(href='/')
              i.fa.fa-home.left.small.white-text
              | Home
          li
            a.white-text.waves-effect.waves-white(href='/tutorials')
              i.fa.fa-search.left.small.white-text
              | All List
          li
            a.white-text.waves-effect.waves-white(href='/tutorials/new')
              i.fa.fa-plus-square-o.left.small.white-text
              | Add New Entry
          li
            a.white-text.waves-effect.waves-white(href='/sign_up')
              i.fa.fa-mode-edit.left.small.white-text
  
    block content

     // Footer of the website
    footer.page-footer.blue
      .container
        .row
          p.center
            | Created by 
            b
              a.link(href= 'http://coen3463-m1t7.herokuapp.com/member/delRosario.html', target= '_blank') Rish Joy Del Rosario
            |  and 
            b
              a.link(href= 'http://coen3463-m1t7.herokuapp.com/member/ilaga.html', target='_blank') Serjay Ilaga
            | .
            |         This project can be found on 
            b GitHub
          .container.center
            a.waves-effect.waves-light.btn-flat.center.black.white-text(href= 'https://github.com/serjay24/coen3463-m3t7', target= '_blank', style= 'text-transform: capitalize')
              i.fa.fa-github-alt.left.small
              | GitHub Project
      .footer-copyright.blue.lighten-1.black-text
        .row.center
          .col.s2.m4.l4.hide-on-small-only Software Engineering
          .col.s12.m4.l4.hide-on-small-only
            b © 2017 - COEN3463
          .col.s12.hide-on-med-and-up.truncate
            b © 2017 - COEN3463 - Software Engineering
          .col.s2.m4.l4.hide-on-small-only Engr. Gino Tria

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(type='text/javascript', src= '../../javascripts/script.js')