extends layout

block content
  br

  .inputfield
    form(method= 'post', action= '/auth/login')
      .container.rown
        h3.blue-text.center Member Login!

        .green.darken-3.white-text
          h5.center
            | Notice to Users!
          h6
            | We have change the way we authenticate the user. Due to these changes, 
            | all of your account and credentials from the database has been deleted as the new 
            | authentication system does not support the old one. Please register again by clicking the 
            | Sign-Up below. We're very sorry for the inconvenience.

        if (error)
          h6#alert.white-text(style= "padding: 1%")= error
        else

        .row
          .col.s12.m12.l12
            .input-field.col.white-text
              input#username.validate(type='text', name= 'username', pattern= '[A-Za-z]{8,}', required)
              label(for='first_name', data-error='Invalid username') Username
          .col.s12.m12.l12
            .input-field.col.white-text
              input#password.validate(type='password', name= 'password', required)
              label(for='password', data-error='Invalid Password') Password
        br 
        .row.center
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Login
            i.fa.fa-send.small.right

        .row
          p.center.white-text
              | Don't have account? Click 
              b
                a.blue-text.link(href= '/auth/register') Sign-Up     
