extends layout

block content
  br

  .inputfield
    form(method= 'post', action= '/auth/login')
      .container.rown
        h3.blue-text.center Member Login!

        if (loginStatus)
          h6.white-text.red(style= "padding: 1%")= loginStatus

        .row
          .col.s12.m12.l12
            .input-field.col.white-text
              input#username.validate(type='text', name= 'username', pattern= '[A-Za-z]{8,}', required)
              label(for='first_name', data-error='Invalid username') Username
          .col.s12.m12.l12
            .input-field.col.white-text
              input#password.validate(type='password', name= 'password', required)
              label(for='password', data-error='Invalid Password') Password
        br 
        .row.center
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Login
            i.fa.fa-send.small.right

        .row
          p.center.white-text
              | Don't have account? Click 
              b
                a.blue-text.link(href= '/auth/register') Sign-Up     
