extends layout

block content
  br
  .inputfield
    form(method= 'POST', action= '/tutorials/new')

      .container.black(style= 'padding: 1%')
        .row.white-text
          .col.s12.m12.l6
            | Title
            br
            input.white.black-text(type= 'text', placeholder= "NodeJS Tutorial for Beginners", name= 'title')
          .col.s12.m12.l6
            | Uploader's Name
            br
            input.white.black-text(type= 'text', placeholder= "Juan Dela Cruz", name= 'uploadersName')
          .col.s12.m12.l6
            | Uploaders YouTube Link
            input.white.black-text(type= 'text', placeholder= "www.youtube.com/juanDC", name= 'uploadersYoutubeLink')
          .col.s12.m12.l6
            | YouTube Link of the Video
            input.white.black-text(type= 'text', placeholder= "www.youtube.com/######", name= 'youtubeLink')
          .col.s12.m12.l12
            | Description
            textarea.materialize-textarea.white.black-text(name= 'description', placeholder= 'Step-by-Step Tutorial of Node.js')
          .col.s12.m12.l6
            | Publish Date
            input.white.black-text(type= 'text', placeholder= "01/01/2017", name= 'publishDate')
          .col.s12.m12.l6
            | Category
            input.white.black-text(type= 'text', placeholder= "Programming", name= 'category')
          .col.s12.m12.l6
            | Number of Views
            input.white.black-text(type= 'text', placeholder= "1000000", name= 'views')
          .col.s12.m12.l6
            | Number of Likes
            input.white.black-text(type= 'text', placeholder= "1000000", name= 'likes')
          .col.s12.m6.l4
            button.waves-effect.waves-white.btn-flat.blue
              | Submit Entry
              i.fa.fa-paper-plane.left.small
          .col.s12.m6.l4
            p= status