extends layout

block content

  

  br
  br
  h1.white-text.center Search Result!
  table.striped.bordered.responsive-table
    thead
      tr
        th(style= 'width: auto') Title
        th(style= 'width: auto') Date Created
     
  tbody
    tr
      td 
      td 
     
   
       