extends layout

block content

  .row
  form.col.s12
    .row
      .input-field.col.s6
        input#first_name.validate(placeholder='Placeholder', type='text')
        label(for='first_name') First Name
      .input-field.col.s6
        input#last_name.validate(type='text')
        label(for='last_name') Last Name
    .row
      .input-field.col.s12
        input#disabled.validate(disabled='', value='I am not editable', type='text')
        label(for='disabled') Disabled
    .row
      .input-field.col.s12
        input#password.validate(type='password')
        label(for='password') Password
    .row
      .input-field.col.s12
        input#email.validate(type='email')
        label(for='email') Email
    .row
      .col.s12
        | This is an inline input field:
        .input-field.inline
          input#email.validate(type='email')
          label(for='email', data-error='wrong', data-success='right') Email